<!-- list_products.html -->

<!DOCTYPE html>
<html>
<head>
    <title>All Products</title>
</head>
<body>
<h1>All Products</h1>
<a href="{% url 'add_product' %}">
    <button>new Product</button>
</a>
<table border="1">
    <tr>
        <th>Product Name</th>
        <th>Description</th>
        <th>Publication Date</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.product_name }}</td>
        <td>{{ product.desc }}</td>
        <td>{{ product.pub_date }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
